# ignore local config:
/public/config/config.*.test.php

# ignore wp core:
/public/wp/

# ignore everything in the "content" directory, except:
# "mu-plugins", "plugins", "themes" directory
/public/content/*
/public/content/mu-plugins/*
/public/content/plugins/*
/public/content/themes/*
!/public/content/mu-plugins/index.php
!/public/content/plugins/index.php
!/public/content/themes/index.php

# ignore dependency directories
node_modules
vendor

# ignore log files, databases and system files
*.log
*.sql
*.sqlite
.DS_Store
